.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.2em));
  grid-auto-rows: 3.7em;
  gap: 0.3em;
  justify-content: center;
  margin-bottom: 1em;
}
@media only screen and (max-width: 490px) {
  .keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 4vmin));
    grid-auto-rows: 15vmin;
    gap: 0.75vmin;
    justify-content: center;
    margin-bottom: 1em;
  }
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  fill: white; /* For SVG color*/
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key:hover,
key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23%;
}

.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 47%;
}
